.container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
}

.info {
  width: 98%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.info .left {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-bottom: 3px solid #a4a4a4;
}

.info .left p {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info .left .title {
  font-weight: 700;
}

.info .left .icon {
  font-size: 1.3em;
  margin: 0 5px 0 0;
}

.info .right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.info .right p {
  width: 50%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info .right .icon {
  font-size: 1.3em;
  margin: 0 5px 0 0;
}

.about {
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0 0 0;
}

.about .left {
  width: 63%;
}

.about .right {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.3em;
}

.recomends {
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.recomends .left {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.recomends .left .top {
  width: 98%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recomends .left .top p {
  color: var(--blue);
  font-size: 1.2em;
  font-weight: 700;
}

.recomends .left .top a {
  color: var(--blue);
}

.recomends .left .cams {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recomends .right {
  width: 30%;
}

@media screen and (max-width: 992px) {
  .info .left {
    width: 60%;
  }

  .info .right {
    width: 35%;
  }

  .recomends {
    flex-direction: column;
  }

  .recomends .left {
    width: 100%;
  }

  .recomends .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .info {
    width: 66%;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    align-self: flex-start;
    padding-left: 5px;
  }

  .info .left {
    width: 100%;
    height: 40%;
    border: none;
  }

  .info .right {
    width: 100%;
    height: 45%;
  }

  .about {
    width: 60%;
    height: auto;
    align-self: flex-start;
    padding-left: 5px;
    flex-direction: column-reverse;
  }

  .about .right {
    width: 100%;
    border-bottom: 3px solid #a4a4a4;
  }

  .about .left {
    width: 100%;
    padding: 20px 0;
  }

  .recomends .right {
    position: absolute;
    top: 630px;
    right: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}
